* {
    margin: 0;
    border: 0;
    padding: 0;

}

/* edicion texto header */
#texto1 {
    font-family: "Open sans", sans-serif;
    font-weight: 500;

}

/* edicion navbar */
#nav {
    background-color: #CCEABB;
}
/* edicion seccion home */
.fondo {
    width: 100%;
    height: 500px;
    text-align: center;
    align-items: center;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.texto2{
   background-color: #ffe5b59a;
   margin-bottom: 300px;
   font-family: "Open sans", sans-serif;
   font-weight: 300;
}
/*  edicion seccion mis proyectos */
.fondo2 {
    background-color: #3F3F44;
    display: flex;
}

.texto3 {
    color: white;
    font-family: "Open sans", sans-serif;
    font-weight: 800;
}

/* edicion footer */
.creditos {
    background-color: #FDCB9E;
    width: 100%;
}

.btn {
    color: black;
    background-color: #FDCB9E;
    border-color: #FDCB9E;
}

.textofooter {
    color: black;
    font-family: "Open sans", sans-serif;
    font-weight: 800;

}